.grid {
    grid-template-areas:
    "prs prs stars stars issues issues"
    "npmDownloads npmDownloads npmDownloads npmDownloads prResponseTime prResponseTime"
    "githubPipeline githubPipeline githubPipeline jenkinsPipeline jenkinsPipeline jenkinsPipeline";
    grid-template-columns: repeat(6, 1fr);
    display: grid;
    gap: 25px;
}

.prs {
    grid-area: prs;
    height: 100px;
}

.stars {
    grid-area: stars;
    height: 100px;
}

.issues {
    grid-area: issues;
    height: 100px;
}

.npmDownloads {
    grid-area: npmDownloads;
}

.prResponseTime {
    grid-area: prResponseTime;
    height: 100px;
}

.githubPipeline {
    grid-area: githubPipeline;
    height: 100px;
}

.jenkinsPipeline {
    grid-area: jenkinsPipeline;
    height: 100px;
}

.smallCard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: scroll;
    box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.2);
    border-radius: 15px;
    background-color: white;
}

.trendCard {
    box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.2);
    border-radius: 15px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.chartCard {
    min-width: 600px;
    padding: 10px;
    box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.2);
    border-radius: 15px;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}