.grid {
    grid-template-areas:
    "prs prs stars stars issues issues"
    "npmDownloads npmDownloads npmDownloads npmDownloads prResponseTime prResponseTime"
    "githubPipeline githubPipeline githubPipeline jenkinsPipeline jenkinsPipeline jenkinsPipeline";
    grid-template-columns: repeat(6, 1fr);
    display: grid;
    gap: 25px;
}

.prs {
    grid-area: prs;
    background-color: #434242;
}

.leftPr {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px 0px 0px 15px;
    filter: invert(100%);
    padding: 0 20px;
}

.leftPrImage {
    position: relative;
    min-height: 75px;
    min-width: 75px;
}

.leftPrText {
    font-size: 25px;
}


.rightPr {
    min-width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background-color: white;
    font-size: 40px;
}

.stars {
    grid-area: stars;
}

.issues {
    grid-area: issues;
}

.npmDownloads {
    grid-area: npmDownloads;
}

.prResponseTime {
    grid-area: prResponseTime;
}

.githubPipeline {
    grid-area: githubPipeline;
}

.jenkinsPipeline {
    grid-area: jenkinsPipeline;
}

.smallCard {
    display: flex;
    box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.2);
    border-radius: 15px;
    min-height: 100px;
}

.trendCard {
    box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.2);
    border-radius: 15px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100px;
    position: relative;
}

.chartCard {
    min-width: 600px;
    padding: 10px;
    box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.2);
    border-radius: 15px;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100px;
    position: relative;
}
