.flexWrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.bottomContainer {
    display: flex;
    flex-direction: row;
}

#header {
    background-color: #6fffd2;
    position: sticky;
    top: 0px;
    height: 70px;
}

#sidebar {
    background-color: #3a7dda;
    min-width: 110px;
    height: calc(100vh - 70px);
    position: -webkit-sticky;
    position: sticky;
    justify-content: center;
    top: 70px;
}

#children {
    background-color: #73ffba;
    width: calc(100% - 110px);
}
