.isSelected {
    font-weight: bold;
}

.sidebarList {
    list-style: none;
}
.sidebarList > li {
}

.sidebar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
