.isSelected {
    font-weight: bold;
}

.sidebarList {
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position: relative;
}

.sidebarList > li {
    list-style: none;
    background-color: white;
    padding: 0;
    margin: 0;
    height: 100%;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position: relative;
}

.sidebar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: row;
    text-align: center;
    position: relative;
}
